<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">

		<title>AngularJS - Diretivas</title>

		<meta name="description" content="Curso de Introdução ao AngularJS - Diretivas">
		<meta name="author" content="Leandro Costa">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">-->

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

		<style>
		  p.smalltext {
		    font-size:50%;
		  }
		  pre .code-size-90 { font-size:90%;line-height:normal; }
		  pre .code-size-85 { font-size:85%;line-height:normal; }
		  pre .code-size-80 { font-size:80%;line-height:normal; }
		  pre .code-size-75 { font-size:75%;line-height:normal; }
		  pre .code-size-70 { font-size:70%;line-height:normal; }
		  pre .code-size-65 { font-size:65%;line-height:normal; }
		  pre .code-size-60 { font-size:60%;line-height:normal; }
		  pre .code-size-55 { font-size:55%;line-height:normal; }
		</style>
	</head>

	<body>
		<div class="reveal">
			<div class="slides">

				<section>
					<h1>AngularJS</h1>
					<h3>Diretivas</h3>
					<p>
						<small>Leandro Costa <leandro.costa@almg.gov.br></small>
					</p>
				</section>

        <section>
          <section>
	  				<blockquote cite="https://amitgharat.wordpress.com/2013/06/08/the-hitchhikers-guide-to-the-directive/">
		  				&ldquo;AngularJS Directive is what we have close to <a href="http://www.polymer-project.org/">Web Components</a>
			  			at this time and is the most crucial and difficult piece in AngularJS.&rdquo; -- Amit Gharat (<a target="blank" href="http://twitter.com/codef0rmer">@codef0rmer</a>)
				  	</blockquote>
          </section>

          <section>
            <blockquote cite="http://www.sitepoint.com/practical-guide-angularjs-directives/">
              &ldquo;Directives are the most important components of any AngularJS application.&rdquo; -- Sandeep Panda (<a target="blank" href="http://twitter.com/sandeepg33k">@sandeepg33k</a>)
            </blockquote>
          </section>
        </section>

        <section>
          <h2>What are Directives?</h2>
          <blockquote cite="https://docs.angularjs.org/guide/directive">
            At a high level, directives are <strong>markers</strong> on a DOM element (such as an attribute, element name, comment or CSS class)
            that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element or even transform
            the DOM element and its children.
          </blockquote>
          <p class="smalltext">
            <a target="blank" href="https://docs.angularjs.org/guide/directive">Guide to AngularJS Documentation</a>
          </p>
        </section>

        <section>
          <section>
            <p>jQuery UI Datepicker</p>
            <pre><code data-trim>
&lt;body&gt;
  &lt;input type="text"&gt;
 
  &lt;script&gt;
    $(function() {
      $("input").datepicker();
    });
  &lt;/script&gt;
&lt;/body&gt;
              </code></pre>
              <a target="blank" href="http://jsbin.com/vukuzo/edit">http://jsbin.com/vukuzo</a>
          </section>

          <!--<section>
            <p>Demo jQuery UI Datepicker</p>
            <a class="jsbin-embed" href="http://jsbin.com/vukuzo/10/embed?html,output&height=320px">JS Bin on jsbin.com</a><script src="http://static.jsbin.com/js/embed.min.js?3.31.0"></script>
            <a href="https://jqueryui.com/datepicker"><p class="smalltext">https://jqueryui.com/datepicker</p></a>
          </section>-->

          <section>
            <p>Angular Datepicker</p>
            <pre><code data-trim>
&lt;body&gt;
  &lt;datepicker>
    &lt;input ng-model="date" type="text"/&gt;
  &lt;/datepicker&gt;
  
  &lt;script&gt;
    (function() {
      angular.module('myApp', ['720kb.datepicker']);
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/vulibe/edit">http://jsbin.com/vulibe</a>
          </section>
         
          <!--<section>
            <p>Demo Angular Datepicker</p>
            <a class="jsbin-embed" href="http://jsbin.com/vulibe/9/embed?html,output&height=420px">JS Bin on jsbin.com</a><script src="http://static.jsbin.com/js/embed.min.js?3.31.0"></script>
            <a href="https://github.com/720kb/angular-datepicker"><p class="smalltext">https://github.com/720kb/angular-datepicker</p></a>
          </section>-->

          <section>
            <div>
              <pre><code>
&lt;body&gt;
  &lt;input type="text"&gt;
 
  &lt;script&gt;
    $(function() {
      $("input").datepicker();
    });
  &lt;/script&gt;
&lt;/body&gt;
                </code></pre>
              </div>
              <div>
                <pre><code>
&lt;body&gt;
  &lt;datepicker>
    &lt;input ng-model="date" type="text"/&gt;
  &lt;/datepicker&gt;
  
  &lt;script&gt;
    (function() {
      angular.module('myApp', ['720kb.datepicker']);
    })();
  &lt;/script&gt;
&lt;/body&gt;
              </code></pre>
            </div>
          </section>
        </section>

        <section>
          <section>
            <a href="http://teropa.info/blog/2014/10/24/how-ive-improved-my-angular-apps-by-banning-ng-controller.html"><p>How I've Improved My Angular Apps by Banning ng-controller</p></a>

            <blockquote cite="http://teropa.info/blog/2014/10/24/how-ive-improved-my-angular-apps-by-banning-ng-controller.html">
              &ldquo;I've recently come to a realization that using standalone controllers, as with ng-controller, rarely leads to an optimal design.&rdquo;
            </blockquote>
          
            <blockquote cite="http://teropa.info/blog/2014/10/24/how-ive-improved-my-angular-apps-by-banning-ng-controller.html">
              &ldquo;I've talked with several people who have said they don't use ng-controller at all in their apps, and just use directives instead.&rdquo;
            </blockquote>

            <p class="smalltext">Tero Parviainen (@teropa)</p>
          </section>

          <section>
            <p>Problemas com <i>ng-controller</i></p>
            <ul>
              <li>Herança (<i>the "dot rule"</i>)</li>
              <li>Dados semi-globais (<i>controller as</i>)</li>
              <li>Organização visual fraca</li>
            </ul>
          </section>

          <section>
            <p>The "dot rule"</p>
            <p><a target="blank" href="http://jsbin.com/cimoqe/edit">http://jsbin.com/cimoqe</a></p>
            <p><a target="blank" href="http://jsbin.com/diyuru/edit">http://jsbin.com/diyuru</a></p>
            <p class="smalltext">
              <a target="blank" href="https://egghead.io/lessons/angularjs-the-dot">https://egghead.io/lessons/angularjs-the-dot</a>
            </p>
          </section>

          <!--<section>
            <p>The "dot rule"</p>
            <a class="jsbin-embed" href="http://jsbin.com/cimoqe/embed?html,output&height=460px">JS Bin on jsbin.com</a><script src="http://static.jsbin.com/js/embed.min.js?3.31.0"></script>
            <a href="https://egghead.io/lessons/angularjs-the-dot"><p class="smalltext">https://egghead.io/lessons/angularjs-the-dot</p></a>          
          </section>

          <section>
            <p>The "dot rule"</p>
            <a class="jsbin-embed" href="http://jsbin.com/diyuru/embed?html,output&height=460px">JS Bin on jsbin.com</a><script src="http://static.jsbin.com/js/embed.min.js?3.31.0"></script>
            <a href="https://egghead.io/lessons/angularjs-the-dot"><p class="smalltext">https://egghead.io/lessons/angularjs-the-dot</p></a>          
          </section>-->
        </section>

        <section>
          <section data-background="white">
            <p><a target="blank" href="http://triangular.io/blog/directive-compilation-in-angularjs-step-by-step/">Directive Compilation in AngularJS – step-by-step</a></p>
            <img src="a1.png">
            <p class="smalltext">by <a target="blank" href="http://triangular.io/blog/author/jakub/">Jakub Strojewski</a> at <a target="blank" href="http://triangular.io/">triangular</a></p>
          </section>          

          <section data-background="white">
            <p><a target="blank" href="http://triangular.io/blog/directive-compilation-in-angularjs-step-by-step/">Directive Compilation in AngularJS – step-by-step</a></p>
            <img src="a1-2.png">
            <p class="smalltext">by <a target="blank" href="http://triangular.io/blog/author/jakub/">Jakub Strojewski</a> at <a target="blank" href="http://triangular.io/">triangular</a></p>
          </section>          

          <section data-background="white">
            <p><a target="blank" href="http://triangular.io/blog/directive-compilation-in-angularjs-step-by-step/">Directive Compilation in AngularJS – step-by-step</a></p>
            <img src="a1-3.png">
            <p class="smalltext">by <a target="blank" href="http://triangular.io/blog/author/jakub/">Jakub Strojewski</a> at <a target="blank" href="http://triangular.io/">triangular</a></p>
          </section>
          
           <section data-background="white">
            <p><a target="blank" href="http://triangular.io/blog/directive-compilation-in-angularjs-step-by-step/">Directive Compilation in AngularJS – step-by-step</a></p>
            <img src="ng_transclude_steps_by_priority.png">
            <p class="smalltext">by <a target="blank" href="http://triangular.io/blog/author/jakub/">Jakub Strojewski</a> at <a target="blank" href="http://triangular.io/">triangular</a></p>
          </section>

           <section data-background="white">
            <p><a target="blank" href="http://triangular.io/blog/directive-compilation-in-angularjs-step-by-step/">Directive Compilation in AngularJS – step-by-step</a></p>
            <img src="ng_transclude_compile_phases_for_nested.png">
            <p class="smalltext">by <a target="blank" href="http://triangular.io/blog/author/jakub/">Jakub Strojewski</a> at <a target="blank" href="http://triangular.io/">triangular</a></p>
          </section>
        </section>

        <section>
          <section>
            <p>Declaração (<i>return object</i>)</p>
            <pre><code>
&lt;body&gt;
  &lt;my-directive&gt;&lt;/my-directive&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function() {
          return {
            template:'&lt;p&gt;Olá mundo!&lt;/p&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/witehe/edit">http://jsbin.com/witehe</a>
          </section>

          <section>
            <p>Declaração (<i>return function</i>)</p>
            <pre><code>
&lt;body&gt;
  &lt;my-directive&gt;&lt;/my-directive&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function($log) {
          return function(scope, elem, attrs) {
            $log.info('myDirective');
          }
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/dudovi/edit">http://jsbin.com/dudovi</a>
          </section>

          <section>
            <p>Declaração (<i>injection function annotation</i>)</p>
            <pre><code style="font-size:70%;line-height:normal;">
&lt;body&gt;
  &lt;my-directive&gt;&lt;/my-directive&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', myDirective);

      myDirective.$inject = ['$log'];

      function myDirective($log) {
        return {
          template:'Olá mundo!',
          link: function(scope, elem, attrs) {
            $log.info('myDirective link');
          }
        }
      }
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre> 
            <a target="blank" href="http://jsbin.com/jopaga/edit">http://jsbin.com/jopaga</a>
          </section>

          <section>
            <p>Directive Definition Object</p>
            <pre><code style="font-size:58%;line-height:normal;">
myModule.directive('directiveName', function factory(injectables) {
  return {
    priority: 0,
    template: '&lt;div&gt;&lt;/div&gt;' /* or function(tElement, tAttrs) { ... } */, // or
    templateUrl: 'directive.html' /* or function(tElement, tAttrs) { ... } */,
    transclude: false,
    restrict: 'A',
    templateNamespace: 'html',
    scope: false,
    controller: function($scope, $element, $attrs, $transclude, otherInjectables) { ... },
    controllerAs: 'stringIdentifier',
    bindToController: false,
    require: 'siblingDirectiveName' /* or ['^parentDirectiveName', '?optionalDirectiveName', '?^optionalParent'] */,
    compile: function compile(tElement, tAttrs, transclude) {
      return {
        pre: function preLink(scope, iElement, iAttrs, controller) { ... },
        post: function postLink(scope, iElement, iAttrs, controller) { ... }
      } /* or return function postLink( ... ) { ... } */;
    }, // or
    link: {
      pre: function preLink(scope, iElement, iAttrs, controller) { ... },
      post: function postLink(scope, iElement, iAttrs, controller) { ... }
    } /* or link: function postLink( ... ) { ... } */
  };
});
            </code></pre>
            <p class="smalltext">
              <a target="blank" href="https://docs.angularjs.org/api/ng/service/$compile#directive-definition-object">Guide to AngularJS Documentation</a>
            </p>
          </section>
          
          <section>
            <blockquote cite="https://docs.angularjs.org/api/ng/service/$compile#">
              Best Practice: It's recommended to use the "directive definition object" form.
            </blockquote>
            <p class="smalltext">
              <a target="blank" href="https://docs.angularjs.org/api/ng/service/$compile#">AngularJS API Reference - Service components in ng ($compile)</a>
            </p>
          </section>
        </section>

        <section>
          <section>
            <p>camelCase / snake-case (x-, data-)</p>
            <pre><code style="font-size:80%;line-height:normal;">
&lt;body&gt;
  &lt;my:directive&gt;&lt;/my:directive&gt;
  &lt;my_directive&gt;&lt;/my_directive&gt;
  &lt;my-directive&gt;&lt;/my-directive&gt;
  &lt;x-my-directive&gt;&lt;/x-my-directive&gt;
  &lt;data-my-directive&gt;&lt;/data-my-directive&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function() {
          return {
            template:'&lt;p&gt;Olá mundo!&lt;/p&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/rupora/edit">http://jsbin.com/rupora</a>
          </section>

          <!--<section>
            <p>camelCase / snake-case (x-, data-)</p>
            <a class="jsbin-embed" href="http://jsbin.com/rupora/embed?html,output&height=460px">JS Bin on jsbin.com</a><script src="http://static.jsbin.com/js/embed.min.js?3.31.0"></script>
          </section>-->
          
          <section>
            <p>The normalization process is as follows:</p>
            <ul>
              <li>Strip x- and data- from the front of the element/attributes.</li>
              <li>Convert the :, -, or _-delimited name to camelCase.</li>
            </ul>
            <p class="smalltext">
              <a target="blank" href="https://docs.angularjs.org/guide/directive">Guide to AngularJS Documentation</a>
            </p>
          </section>

          <section>
            <blockquote cite="http://www.w3.org/TR/2011/WD-html5-20110525/elements.html#embedding-custom-non-visible-data-with-the-data-attributes">
              A custom data attribute is an attribute in no namespace whose name starts with the string "data-", has at least one character after the hyphen,
              is XML-compatible, and contains no characters in the range U+0041 to U+005A (LATIN CAPITAL LETTER A to LATIN CAPITAL LETTER Z).
          </blockquote>

          <p class="smalltext">
            <a target="blank" href="http://www.w3.org/TR/2011/WD-html5-20110525/elements.html#embedding-custom-non-visible-data-with-the-data-attributes">W3C HTML5 - Embedding custom non-visible data with the data-* attributes</a>
          </p>
          </section>
          
          <section>
            <blockquote cite="http://www.w3.org/html/wg/drafts/html/master/single-page.html">
              Attribute names beginning with the two characters "x-" are reserved for user agent use and are guaranteed to never be formally added to the HTML language.
              For flexibility, attributes names containing underscores (the U+005F LOW LINE character) are also reserved for experimental purposes and are guaranteed to
              never be formally added to the HTML language.
            </blockquote>
            
            <p class="smalltext">
              <a target="blank" href="http://www.w3.org/html/wg/drafts/html/master/single-page.html">W3C HTML 5.1 - Extensibility</a>
            </p>
          </section>
        </section>

        <section>
          <section>
            <p>restrict</p>

            <pre><code class="code-size-80">
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      restrict: 'EA'
      ...
    };
  });
            </code></pre>
            <p>Restringe o tipo de declaração da diretiva para:</p>
            <ul>
              <li>Elementos: 'E'</li>
              <li>Atributos: 'A'</li>
              <li>Classes: 'C'</li>
              <li>Comentários: 'M'</li>
              <li>Elementos e atributos: 'EA' (<i>default</i>)</li>
            </ul>
          </section>
          
          <section>
            <p>restrict</p>
            <pre><code style="font-size:80%;line-height:normal;">
&lt;body&gt;
  E: &lt;my-directive&gt;&lt;/my-directive&gt;
  A: &lt;div my-directive&gt;&lt;/div&gt;
  C: &lt;div class="my-directive"&gt;&lt;/div&gt;
  M: &lt;!-- directive: my-directive --&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function() {
          return {
            restrict: 'EACM',
            template:'&lt;p&gt;Olá mundo!&lt;/p&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/hogubi/edit">http://jsbin.com/hogubi</a>
            <!--<a class="jsbin-embed" href="http://jsbin.com/hogubi/embed?html,output&height=460px">JS Bin on jsbin.com</a><script src="http://static.jsbin.com/js/embed.min.js?3.31.0"></script>-->
          </section>

          <section>
            <blockquote cite="https://github.com/johnpapa/angular-styleguide#style-y074">
              When creating a directive that makes sense as a stand-alone element, allow restrict E (custom element) and optionally restrict A (custom attribute). Why?: It makes sense.
            </blockquote>
            <p class="smalltext">
              <a target="blank" href="https://github.com/johnpapa/angular-styleguide#style-y074">Style Y074 - Restrict to Elements and Attributes</a>
            </p>
          </section>
        </section>

        <section>
          <section>
            <p>templateUrl</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      templateUrl: 'directive.tpl.html'
      ...
    };
  });
            </code></pre>
            <p>Carrega o <i>template</i> de forma assíncrona.</p>
          </section>
          <section>
            <p>templateUrl</p>
            <pre><code style="font-size:80%;line-height:normal;">
&lt;body&gt;
  &lt;my-directive&gt;&lt;/my-directive&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function() {
          return {
            templateUrl:'my-directive.tpl.html'
          };
        });
    })();
  &lt;/script&gt;
  
  &lt;script type="text/ng-template" id="my-directive.tpl.html"&gt;
    &lt;p&gt;Olá mundo!&lt;/p&gt;
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/poraso/edit">http://jsbin.com/poraso</a>
          </section>
        </section>
        
        <section>
          <section>
            <p>replace</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      replace: {boolean},
      ...
    };
  });
            </code></pre>
            <p>Substitui o elemento em que a diretiva é declarada pelo seu <i>template</i>.</p>
          </section>

          <section>
            <p>replace: false</p>
            <pre><code>
&lt;body&gt;
  &lt;my-directive&gt;
    &lt;p&gt;Olá mundo!&lt;/p&gt;
  &lt;/my-directive&gt;
&lt;/body&gt;
            </code></pre>
            <p>replace: true</p>
            <pre><code>
&lt;body&gt;
  &lt;p&gt;Olá mundo!&lt;/p&gt;
&lt;/body&gt;
            </code></pre>
          </section>
          <section>
            <p>replace</p>
            <pre><code style="font-size:95%;line-height:normal;">
&lt;body&gt;
  &lt;my-directive&gt;&lt;/my-directive&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function() {
          return {
            replace:true,
            template:'&lt;p&gt;Olá mundo!&lt;/p&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/mosaqo/edit">http://jsbin.com/mosaqo</a>
          </section>
          
          <section>
            <blockquote cite="https://github.com/angular/angular.js/commit/eec6394a342fb92fba5270eee11c83f1d895e9fb">
  						&ldquo;The `replace` flag for defining directives that replace the element that they are on will be removed in the next
              major angular version. This feature has difficult semantics (e.g. how attributes are merged) and leads to more problems
              compared to what it solves. Also, with WebComponents it is normal to have custom elements in the DOM.&rdquo;
			  		</blockquote>
				  	<p class="smalltext">
              <a href="https://github.com/angular/angular.js/commit/eec6394a342fb92fba5270eee11c83f1d895e9fb">docs($compile): deprecate `replace` directives</a>
            </p>
          </section>
        </section>

        <section>
          <section>
            <p>transclude</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      transclude: {boolean},
      ...
      template: "...<ng-transclude></ng-transclude>...",
      ...
    };
  });
            </code></pre>
            <p>Extrai o conteúdo do elemento em que a diretiva é declarada e o disponibiliza para a diretiva.</p>
          </section>
          <section>
            <p>transclude</p>
            <pre><code style="font-size:80%;line-height:normal;">
&lt;body&gt;
  &lt;texto&gt;
    &lt;p&gt;Olá mundo!&lt;/p&gt;
  &lt;/texto&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('texto', function() {
          return {
            transclude:true,
            template:'&lt;h3&gt;Título&lt;/h3&gt;&lt;ng-transclude&gt;&lt;/ng-transclude&gt;&lt;p&gt;Rodapé&lt;/p&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/papuvu/edit">http://jsbin.com/papuvu</a>
          </section>

          <section>
            <p>transclude (atributo)</p>
            <pre><code style="font-size:80%;line-height:normal;">
&lt;body&gt;
  &lt;texto&gt;
    &lt;p&gt;Olá mundo!&lt;/p&gt;
  &lt;/texto&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('texto', function() {
          return {
            transclude:true,
            template:'&lt;h3&gt;Título&lt;/h3&gt;&lt;div ng-transclude&gt;ESTE TEXTO SERÁ SUBSTITUÍDO!&lt;/div&gt;&lt;p&gt;Rodapé&lt;/p&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/yepupi/edit">http://jsbin.com/yepupi</a>
          </section>

          <section>
            <p>transclude (classe)</p>
            <pre><code style="font-size:80%;line-height:normal;">
&lt;body&gt;
  &lt;texto&gt;
    &lt;p&gt;Olá mundo!&lt;/p&gt;
  &lt;/texto&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('texto', function() {
          return {
            transclude:true,
            template:'&lt;h3&gt;Título&lt;/h3&gt;&lt;div class="ng-transclude"&gt;ESTE TEXTO SERÁ SUBSTITUÍDO!&lt;/div&gt;&lt;p&gt;Rodapé&lt;/p&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/lololi/edit">http://jsbin.com/lololi</a>
          </section>

          <section>
            <p>transclude: 'element' + replace: true</p>
            <pre><code style="font-size:80%;line-height:normal;">
&lt;body&gt;
  &lt;texto&gt;
    &lt;p&gt;Olá mundo!&lt;/p&gt;
  &lt;/texto&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('texto', function() {
          return {
            replace:true,
            transclude:'element',
            template:'&lt;div ng-transclude&gt;ESTE TEXTO SERÁ SUBSTITUÍDO!&lt;/div&gt;'
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/fikogu/edit">http://jsbin.com/fikogu</a>
          </section>

          <section>
            <p>transclude: true</p>
            <pre><code>
&lt;texto&gt;
  &lt;ng-transclude&gt;
    &lt;p class="ng-scope"&gt;Olá mundo!&lt;/p&gt;
  &lt;/ng-transclude&gt;
&lt;/texto&gt;
            </code></pre>

            <p>transclude: 'element' + replace: true</p>
            <pre><code>
&lt;ng-transclude&gt;
  &lt;texto class="ng-scope"&gt;
    &lt;p&gt;Olá mundo!&lt;/p&gt;
  &lt;/texto&gt;
&lt;/ng-transclude&gt;
            </code></pre>
          </section>
        </section>
        
        <section>
          <section>
            <p>controller</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      controller: {function},
      ...
      controllerAs: {string},
      ...
    };
  });
            </code></pre>
            <blockquote>Best Practice: use controller when you want to expose an API to other directives.</blockquote>
          </section>

          <section>
            <p>controller</p>
            <pre><code class="code-size-75">
&lt;body&gt;
  &lt;div texto-expandivel&gt;
    &lt;h3 ng-click="toggle()"&gt;Título&lt;/h3&gt;
    &lt;p ng-show="mostrar"&gt;Olá mundo!&lt;/p&gt;
  &lt;/div&gt;

  &lt;script&gt;
    angular.module('myApp', [])
      .directive('textoExpandivel', function() {
        return {
          controller:function($scope, $element) {
            $scope.mostrar = false;
            $scope.toggle = function() {
              $scope.mostrar = !$scope.mostrar;
            }
          }
        };
      });
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/detuji/edit">http://jsbin.com/detuji</a>
          </section>
          
          <section>
            <p>controller</p>
            <pre><code>
angular.module('myApp', [])
  .controller('TextoExpandivelCtrl', function($scope, $element){
    $scope.mostrar = false;

    $scope.toggle = function() {
      $scope.mostrar = !$scope.mostrar;
    };         
  })
  .directive('textoExpandivel', function() {
    return {
      controller:'TextoExpandivelCtrl'
    };
  });
            </code></pre>
            <a target="blank" href="http://jsbin.com/yukamo/edit">http://jsbin.com/yukamo</a>
          </section>

          <section>
            <p>controllerAs</p>
            <pre><code class="code-size-80">
angular.module('myApp', [])
  .directive('textoExpandivel', function() {
    return {
      scope: {
        titulo:'=',
        texto:'='
      },
      template: '&lt;h3 ng-click="vm.toggle()"&gt;{{titulo}}&lt;/h3&gt;&lt;p ng-show="vm.mostrar"&gt;{{texto}}&lt;/p&gt;',
      controller:function($scope, $element) {
        var vm = this;
        vm.mostrar = false;
        vm.toggle = function() {
          vm.mostrar = !vm.mostrar;
        }
      },
      controllerAs: 'vm'
    };
  });
            </code></pre>
            <a target="blank" href="http://jsbin.com/yewoka/edit">http://jsbin.com/yewoka</a>
          </section>
        </section>

        <section>
          <section>
            <p>compile</p>
            <pre><code>
myModule.directive('myDirective', function factory(injectables) {
    return {
      ...
      compile: function compile(tElement, tAttrs, transclude) {
        return {
          pre: function preLink(scope, iElement, iAttrs, controller) { ... },
          post: function postLink(scope, iElement, iAttrs, controller) { ... }
        }
        // or
        // return function postLink( ... ) { ... }
      },
      ...
    };
  });
            </code></pre>
            <p>Utilizado para realizar manipulações no DOM.</p>
          </section>
          
          <section>
            <p>compile</p>
            <pre><code class="code-size-90">
&lt;body&gt;
  &lt;div my-directive&gt;&lt;/div&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function() {
          return {
            compile:function(elem, attrs) {
              elem.append('Adicionado pelo compile');
            }
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/cojeze/edit">http://jsbin.com/cojeze</a>
          </section>
        </section>
        
        <section>
          <section>
            <p>link</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      link: {
        pre: function preLink(scope, iElement, iAttrs, controller) { ... },
        post: function postLink(scope, iElement, iAttrs, controller) { ... }
      }
      // or
      link: function postLink( ... ) { ... }
      ...
    };
  });
            </code></pre>
            <blockquote>Best Practice: use controller when you want to expose an API to other directives. <strong>Otherwise use link</strong>.</blockquote>
          </section>

          <section>
            <p>link</p>
            <pre><code class="code-size-60">
&lt;body&gt;
  &lt;div texto-expandivel&gt;
    &lt;h3&gt;Título&lt;/h3&gt;
    &lt;p ng-show="mostrar"&gt;Olá mundo!&lt;/p&gt;
  &lt;/div&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('textoExpandivel', function() {
          return {
            link:function(scope, elem, attrs) {
              scope.mostrar = false;

              elem.find('h3').bind('click', function(){
                scope.mostrar = !scope.mostrar;
                scope.$apply();
              });
            }
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/xuruzo/edit">http://jsbin.com/xuruzo</a>
          </section>
        </section>

        <section>
          <p>restrict: comment</p>
          <pre><code class="code-size-80">
&lt;body&gt;
  &lt;!-- directive: my-directive --&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function($compile) {
          return {
            restrict: 'M',
            link:function(scope, elem, attrs) {
              console.log('linking my-directive');
              elem.after($compile("&lt;p&gt;Olá mundo!&lt;/p&gt;")(scope));
            }
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
          </code></pre>
          <a target="blank" href="http://jsbin.com/kixiho/edit">http://jsbin.com/kixiho</a>
        </section>

        <section>
          <section>
            <p>scopes</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      scope: {boolean} ou {object},
      ...
    };
  });
            </code></pre>
            <ul>
              <li>scope: false - utiliza o escopo pai;</li>
              <li>scope: true - cria um novo escopo que herda do escopo pai;</li>
              <li>scope: object - cria um novo escopo que não herda do escopo pai.</li>
            </ul>
          </section>

          <section>
            <p>scopes</p>
            <p><a target="blank" href="http://jsbin.com/kimige/edit"><strike>http://jsbin.com/kimige</strike></a></p>
            <p><a target="blank" href="../exemplos/01-scopes.html">Exemplo com AngularJS Batarang</a></p>
          </section>

          <section>
            <p>scope: object</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      scope: {
        foo: '@',
        bar: '=',
        xulambs: '&'
      },
      ...
    };
  });
            </code></pre>
            <ul>
              <li>'@': <i>bind</i> de variáveis por valor (<i>read only</i>);</li>
              <li>'=': <i>bind</i> de variáveis por referência (<i>read/write</i>);</li>
              <li>'&': <i>bind</i> de expressões ou métodos que serão executados no escopo de que fazem parte.</li>
            </ul>
          </section>

          <section>
            <p>isolated scope - bind (@)</p>
            <pre><code class="code-size-70">
&lt;body&gt;
  &lt;div&gt;
    Mensagem: &lt;input type="text" ng-model="vm.mensagem"&gt;
    &lt;hr/&gt;
    &lt;my-directive mensagem-attr="{{vm.mensagem}}"&gt;&lt;/my-directive&gt;
  &lt;/div&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function(){
          return {
            scope:{
              msg: '@mensagemAttr'
            },
            template:'Mensagem: {{msg}}'
          }
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/fopede/edit">http://jsbin.com/fopede</a>
          </section>

          <section>
            <p>isolated scope - bind (=)</p>
            <pre><code class="code-size-70">
&lt;body&gt;
  &lt;div&gt;
    Mensagem: &lt;input type="text" ng-model="vm.mensagem"&gt;
    &lt;hr/&gt;
    &lt;my-directive mensagem-attr="vm.mensagem"&gt;&lt;/my-directive&gt;
  &lt;/div&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('myDirective', function(){
          return {
            scope:{
              msg: '=mensagemAttr'
            },
            template:'Mensagem: &lt;input type="text" ng-model="msg"&gt;'
          }
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/hojoci/edit">http://jsbin.com/hojoci</a>
          </section>

          <section>
            <p>isolated scope - bind (&)</p>
            <pre><code class="code-size-55">
&lt;body&gt;
  &lt;div ng-controller="MyController"&gt;
    Mensagem (MyController): {{mensagem}} &lt;hr/&gt;
    &lt;my-directive on-update-mensagem="updateMensagem(msg)"&gt;&lt;/my-directive&gt;
  &lt;/div&gt;
  &lt;script&gt;
    angular.module('myApp', [])
      .controller('MyController', function($scope){
        $scope.updateMensagem = function(msg) {
          $scope.mensagem = msg;
        };
      })
      .directive('myDirective', function(){
        return {
          scope:{
            onUpdateMensagem: '&amp;'
          },
          template:'Mensagem (myDirective): &lt;input type="text" ng-model="msg" ng-change="updateMensagem()"&gt;',
          controller: function($scope) {
            $scope.updateMensagem = function() {
              $scope.onUpdateMensagem({msg: $scope.msg});
            };
          }
        }
      });
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/pelivu/edit">http://jsbin.com/pelivu</a>
          </section>

          <section>
            <p>isolated scope - bindToController</p>
            <pre><code class="code-size-70">
&lt;body&gt;
  &lt;div&gt;
    Mensagem: &lt;input type="text" ng-model="vm.mensagem"&gt;&lt;hr/&gt;
    &lt;my-directive mensagem-attr="{{vm.mensagem}}"&gt;&lt;/my-directive&gt;
  &lt;/div&gt;

  &lt;script&gt;
    angular.module('myApp', [])
      .directive('myDirective', function(){
        return {
          scope:{
            msg: '@mensagemAttr'
          },
          controller: function() { },
          controllerAs: 'myCtrl',
          bindToController: true,
          template:'Mensagem: {{myCtrl.msg}}'
        }
      });
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/mogisa/edit">http://jsbin.com/mogisa</a>
          </section>
        </section>
        
        <section>
          <section>
            <p><a target="blank" href="http://angular-tips.com/blog/2014/03/transclusion-and-scopes/">Angular Tips - Transclusion and Scopes (by Jesus Rodriguez)</a></p>
            <pre><code style="font-size:55%;line-height:normal;">
&lt;body ng-init="person={name:'John Doe'};header='Person'"&gt;
  &lt;person header="header"&gt;
    &lt;h2&gt;{{header}}&lt;/h2&gt;
    &lt;p&gt;Hello, I am {{person.name}}&lt;/p&gt;
  &lt;/person&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('person', function() {
          return {
            scope: { header: '=' },
            transclude:true,
            template: '&lt;div ng-transclude&gt;&lt;/div&gt;',
            link: function(scope, element, attrs) {
              scope.person = {
                name: 'Directive Joe'
              };

              scope.header = 'Directive\'s header';
            }
          };
      });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/turoje/edit">http://jsbin.com/turoje</a>
          </section>
          
          <section data-background="white">
            <img src="transclude-scope.png">
            
            <p class="smalltext">
              <a target="blank" href="https://thinkster.io/a-better-way-to-learn-angularjs/transclusion">Thinkster - A Better Way to Learn AngularJS</a>
            </p>
          </section>
        </section>

        <section>
          <section>
            <p>priority</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      priority: {number},
      ...
    };
  });
            </code></pre>
            <p style="text-align: justify;padding-left:3em;padding-right:3em;">
              Quando há muitas diretivas num mesmo elemento a prioridade especifica a ordem em que serão compiladas.
              Diretivas com maior prioridade são compiladas primeiro. <i>default: 0</i>
            </p>
          </section>

          <section data-background="white">
            <p>Ordem de execução das funções, conforme prioridade</p>
            <img src="ng_transclude_steps_by_priority.png">
            <p class="smalltext">
              <a target="blank" href="http://triangular.io/blog/directive-compilation-in-angularjs-step-by-step/">triangular.io - Directive Compilation in AngularJS – step-by-step</a>
            </p>

          </section>
          <section>
            <p>priority</p>
            <pre><code class="code-size-55">
&lt;body&gt;
  &lt;div mensagem alerta&gt;Olá mundo!&lt;/div&gt;

  &lt;script&gt;
    (function(){
      angular.module('myApp', [])
        .directive('mensagem', function() {
          return {
            priority: 0,
            link: function(scope, elem, attrs) {
              elem.addClass('mensagem');
            }
          };
        })
        .directive('alerta', function() {
          return {
            priority: 1,
            link: function(scope, elem, attrs) {
              if (elem.hasClass('mensagem')) {
                elem.addClass('mensagem-de-alerta');
              }
            }
          };
        });
    })();
  &lt;/script&gt;
&lt;/body&gt;
            </code></pre>
            <a target="blank" href="http://jsbin.com/zefojo/edit">http://jsbin.com/zefojo</a>
          </section>
        </section>
        
        <section>
          <section>
            <p>terminal</p>
            <pre><code>
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      terminal: {boolean},
      ...
    };
  });
            </code></pre>
            <p style="text-align: justify;padding-left:3em;padding-right:3em;">
              Faz com que as diretivas de prioridade maior que a da diretiva corrente aplicadas ao mesmo elemento não sejam executadas.
            </p>
          </section>
          
          <section>
            <p>terminal</p>
            <pre><code class="code-size-65">
angular.module('myApp', [])
  .directive('diretiva1', function() {
    return {
      link: function(scope, elem, attrs) {
        elem.addClass('diretiva1');
      }, priority: 0
    };
  })
  .directive('diretiva2', function() {
    return {
      link: function(scope, elem, attrs) {
        elem.addClass('diretiva2');
      }, priority: 1, terminal:true
    };
  })
  .directive('diretiva3', function() {
    return {
      link: function(scope, elem, attrs) {
        elem.addClass('diretiva3');
      }, priority: 2
    };
  });
            </code></pre>
            <a target="blank" href="http://jsbin.com/garizi/edit">http://jsbin.com/garizi</a>
          </section>
        </section>
        
        <section>
          <section>
            <p>require</p>
            <pre><code class="code-size-80">
angular.module('myApp', [])
  .directive('myDirective', function() {
    return {
      ...
      require: 'siblingDirectiveName',
      // or
      require: ['^parentDirectiveName', '?optionalDirectiveName', '?^optionalParent'],
      ...
    };
  });
            </code></pre>
            <p>Injeta o <i>controller</i> de outra diretiva na função <i>link</i> da diretiva corrente.</p>
            <ul>
              <li>(nenhum prefixo) - pesquisa no elemento corrente;</li>
              <li>^ - pesquisa no elemento corrente e nos pais;</li>
              <li>^^ - pesquisa somente nos pais.</li>
            </ul>
            <p>? - passa <i>null</i> para a função <i>link</i> caso o controller não seja encontrado.</p>
          </section>
          
          <section>
            <p>require</p>
            <pre><code class="code-size-65">
angular.module('myApp', [])
  .directive('player', function() {
    return {
      controller:function($scope) {
        var vm = this;
        vm.ligado = false;
        vm.toggle = function() {
          vm.ligado = !vm.ligado;
          $scope.$apply();
        };
      }, controllerAs:'vm'
    };
  })
  .directive('onOff', function() {
    return {
      require: '^player',
      link: function(scope, elem, attrs, playerCtrl) {
        elem.bind('click', function(){
          playerCtrl.toggle();
        });
      }
    };
  });
            </code></pre>
            <a target="blank" href="http://jsbin.com/yagufe/edit">http://jsbin.com/yagufe</a>
          </section>
        </section>
        
        <section>
          <p>Referências</p>
          <a target="blank" href="https://www.youtube.com/watch?v=MpI3HKDVZm0"><p class="smalltext">YouTube: 18 Tips For The Angular Architect</p></a>
          <a target="blank" href="https://www.youtube.com/watch?v=Ty8XcASK9js"><p class="smalltext">YouTube: Advanced Directives with Angular JS</p></a>
          <a target="blank" href="https://www.youtube.com/watch?v=gE4hyIfUD-A"><p class="smalltext">YouTube: Component-based Directives in Angular</p></a>
          <a target="blank" href="http://tech.blinemedical.com/sharing-data-between-child-and-parent-directives-and-scopes-in-angularjs/">
            <p class="smalltext">Sharing data between child and parent directives and scopes (in AngularJS) (by Krystal Xu August 14, 2014)</p>
          </a>
          <a target="blank" href="https://amitgharat.wordpress.com/2013/06/08/the-hitchhikers-guide-to-the-directive/">
            <p class="smalltext">The Hitchhiker’s Guide to the Directive (June 8, 2013 by codef0rmer)</p>
          </a>
          <a target="blank" href="http://www.sitepoint.com/series/a-practical-guide-to-angularjs-directives/">
            <p class="smalltext">A Practical Guide to AngularJS (by Sandeep Panda - Jan, 2014)</p>
          </a>
          <a target="blank" href="http://teropa.info/blog/2014/10/24/how-ive-improved-my-angular-apps-by-banning-ng-controller.html">
            <p class="smalltext">How I've Improved My Angular Apps by Banning ng-controller</p>
          </a>
          <a target="blank" href="https://gist.github.com/CMCDragonkai/6282750"><p class="smalltext">AngularJS Directive Attribute Binding Explanation</p></a>
          <a target="blank" href="http://www.peterbe.com/plog/an-angularjs-directive-with-itself-as-the-attribut"><p class="smalltext">An AngularJS directive with itself as the attribute</p></a>
          <a target="blank" href="https://www.codementor.io/angularjs/tutorial/how-angular-directive-scope-work"><p class="smalltext">AngularJS Tutorial: Understanding How Directives Work</p></a>
          <a target="blank" href="http://triangular.io/blog/directive-compilation-in-angularjs-step-by-step/"><p class="smalltext">Directive Compilation in AngularJS – step-by-step</p></a>
          <a target="blank" href="http://www.bennadel.com/blog/2810-directive-architecture-template-urls-and-linking-order-in-angularjs.htm">
            <p class="smalltext">Directive Architecture, Template URLs, And Linking Order In AngularJS</p>
          </a>
        </section>
        
        <section>
          <p>Exercício</p>
          <p>Criar diretivas para a aplicação Deputados:</p>
          <ul>
            <li>Conteúdo de cada item da lista de deputados;</li>
            <li>Conteúdo da tela de detalhes do deputado.</li>
          </ul>

          <!--
          <p>2. Criar funcionalidade <i>favoritos</i></p>

          <ul>
            <li>Adicionar checkbox à dela de detalhes do deputado</li>
            <li>Criar tela de favoritos com a lista de deputados marcados como favoritos</li>
            <li>Os deputados marcados como favoritos devem aparecer na tela de favoritos</li>
            <li>Reutilize as diretivas do exercício 1</li>
          </ul>
          -->
        </section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				width:1200,
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});
		</script>
	</body>
</html>
